body{
    justify-content: center;
    font-size: 10px;
}

main{
    height:100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 10px 10px;
}

.img-class{
    order: 0;
    background-image: url("images/image-header-mobile.jpg");
    background-color: var(--soft-violet);
    background-blend-mode: multiply;
    width: 80vw;
    height: 60vh;
}


.content{
    width: 80vw;
    height:80vh;
    padding: 20px 20px;
    text-align: center;
}

footer{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.8rem;
}

.box{
    margin: 10px 0px;
    justify-content: center;
}

.highlighted-num{
    font-size: 1rem;
}
